# SPDX-License-Identifier: FSL-1.1-ALv2
# cloud-init on Cucina workers: EC2 datasource only and only the modules a worker needs at first boot
# (network, hostname, default user/SSH keys, user data). No package updates, apt/locale/timezone/ntp/snap/
# ubuntu-pro work and no SSH key fingerprints on the console: each costs boot time on every launch.
# No disk_setup/mounts: cucina-format-instance-store owns the NVMe instance store (cloud-init would mount it at /mnt).
datasource_list: [Ec2, None]
datasource:
  Ec2:
    max_wait: 30
    timeout: 5
    apply_full_imds_network_config: true
ssh_genkeytypes: [ed25519]
ssh_quiet_keygen: true
ssh_deletekeys: true
package_update: false
package_upgrade: false
package_reboot_if_required: false
cloud_init_modules:
  - seed_random
  - bootcmd
  - write_files
  - growpart
  - resizefs
  - set_hostname
  - update_hostname
  - update_etc_hosts
  - users_groups
  - ssh
cloud_config_modules:
  - runcmd
cloud_final_modules:
  - scripts_vendor
  - scripts_per_once
  - scripts_per_boot
  - scripts_per_instance
  - scripts_user
  - final_message
